body {
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #ffffff;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.cabecalho__esquerda {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cabecalho__esquerda__menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cabecalho__esquerda__menu__link {
    text-decoration: none;
    color: #ffffff;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 1%;
}

.apresentacao__principal {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.apresentacao__listaElementos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.apresentacao__listaBotoes {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rodape {
    border-top: 1px solid #ffffff;
}

.rodape__versao {
    text-align: center;
    padding: 1%;
}