@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-fundo: #000000;
    --cor-texto: #EEEEEE;
    --cor-cabecalho: #8E1616;
    --cor-borda: #D84040;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: "Roboto", sans-serif;;
}

.cabecalho {
    background-color: var(--cor-fundo);
    padding: 0.5%;
    border-bottom: 0.1rem solid var(--cor-borda);
}

.cabecalho__esquerda {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    align-items: center;
}

.cabecalho__esquerda__logo {
    width: 8%;
}

.cabecalho__esquerda__menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.cabecalho__esquerda__menu__link {
    text-decoration: none;
    color: var(--cor-texto);
}

.cabecalho__esquerda__menu__link:hover {
    text-decoration: none;
    color: var(--cor-borda);
}

.apresentacao {
    padding: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.apresentacao__artigo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 150px;
}

.apresentacao__artigo__imagem {
    width: 150px;
    border: 0.1rem solid var(--cor-borda);
    border-radius: 0.5rem;
    transition: 0.5s;
}

.apresentacao__artigo__titulo {
    font-size: 1.2rem;
}

.rodape {
    background-color: var(--cor-fundo);
    border-top: 0.1rem solid var(--cor-borda);
    padding: 1%;
}

.rodape__direitosPitch {
    color: var(--cor-texto);
}