@import url(header.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-fundo: #000000;
    --cor-texto: #EEEEEE;
    --cor-borda: #D84040;
    --cor-rodape: #111111;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: "Roboto", sans-serif;;
}

.apresentacao {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.apresentacao__titulo {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.apresentacao__artigos {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.apresentacao__artigos__ancora {
    text-decoration: none;
    color: inherit;
}

.apresentacao__artigos__artigo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 150px;
    transition: transform 0.5s;
}

.apresentacao__artigos__artigo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.apresentacao__artigos__artigo__imagem {
    width: 150px;
    border: 0.1rem solid var(--cor-borda);
    border-radius: 0.5rem;
}

.apresentacao__artigos__artigo__titulo {
    font-size: 1.1rem;
}

.apresentacao__artigo {
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0% 10% 0% 10%;
}

.apresentacao__artigo__titulo {
    color: var(--cor-borda);
    font: bold;
    font-size: 2.25rem;
    text-decoration: underline;
}

.apresentacao__artigo__subtitulo {
    color: var(--cor-borda);
    font-weight: bold;
    font-size: 1.5rem;
}

.apresentacao__artigo__paragrafo {
    font-size: 1rem;
}

.apresentacao__artigo__botao {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    color: var(--cor-texto);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.apresentacao__artigo__botao:hover {
    color: var(--cor-borda);
}

.apresentacao__artigo__botao::after {
    content: '';
    display: block;
    width: 0.5rem; /* 8px */
    height: 0.5rem; /* 8px */
    border-bottom: 0.125rem solid var(--cor-texto); /* 2px */
    border-right: 0.125rem solid var(--cor-texto); /* 2px */
    transform: rotate(45deg); /* Seta para baixo */
}

.apresentacao__artigo__botao:hover::after {
    border-color: var(--cor-borda);
}

.apresentacao__artigo__botao.ativo::after {
    transform: rotate(-135deg); /* Seta para cima */
}